<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

# Final Project: Data Analysis using Spark

Estimated time needed: **60** minutes

This final project is similar to the Practice Project you did. In this project, you will not be provided with hints or solutions. You will create a DataFrame by loading data from a CSV file and apply transformations and actions using Spark SQL. This needs to be achieved by performing the following tasks:

- Task 1: Generate DataFrame from CSV data.
- Task 2: Define a schema for the data.
- Task 3: Display schema of DataFrame.
- Task 4: Create a temporary view.
- Task 5: Execute an SQL query.
- Task 6: Calculate Average Salary by Department.
- Task 7: Filter and Display IT Department Employees.
- Task 8: Add 10% Bonus to Salaries.
- Task 9: Find Maximum Salary by Age.
- Task 10: Self-Join on Employee Data.
- Task 11: Calculate Average Employee Age.
- Task 12: Calculate Total Salary by Department.
- Task 13: Sort Data by Age and Salary.
- Task 14: Count Employees in Each Department.
- Task 15: Filter Employees with the letter o in the Name.

### Prerequisites 

1. For this lab assignment, you will be using Python and Spark (PySpark). Therefore, it's essential to make sure that the following libraries are installed in your lab environment or within Skills Network (SN) Labs

In [1]:
# Installing required packages  

!pip install pyspark  findspark wget

Collecting pyspark
  Downloading pyspark-3.4.3.tar.gz (311.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 311.4/311.4 MB 993.2 kB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Requirement already satisfied: wget in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (3.2)
Collecting py4j==0.10.9.7 (from pyspark)
  Downloading py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 200.5/200.5 kB 27.1 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.3-py2.py3-none-any.whl size=311885504 sha256=b53ce10bfff89a6426f48c126f3e6bee5ba48b96f6ec5adab5d06a06af2ee73d
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/37/bc/bb/77785f6fcd2c83e663647f73225b76f3a3d5fd00762d7daf6f
Successfully built pyspark
Installing collected packages: py4j, findspark, pyspark
Successfully installed findspark-2.0.1 py4j-0.10.9.7 pyspark-3.4.3

In [2]:
import findspark

findspark.init()

In [25]:
# PySpark is the Spark API for Python. In this lab, we use PySpark to initialize the SparkContext.   

from pyspark import SparkContext, SparkConf
from pyspark.sql.functions import avg

from pyspark.sql import SparkSession

In [4]:
# Creating a SparkContext object  

sc = SparkContext.getOrCreate()

# Creating a SparkSession  

spark = SparkSession \
    .builder \
    .appName("Python Spark DataFrames basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

24/07/30 00:04:55 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

2. Download the CSV data.

In [5]:
# Download the CSV data first into a local `employees.csv` file
import wget
wget.download("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-BD0225EN-SkillsNetwork/data/employees.csv")

'employees.csv'

### Tasks

#### Task 1: Generate a Spark DataFrame from the CSV data

Read data from the provided CSV file, `employees.csv` and import it into a Spark DataFrame variable named `employees_df`.

In [6]:
# Import the necessary libraries
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.getOrCreate()

In [12]:
# Read data from the "emp" CSV file and import it into a DataFrame variable named "employees_df"  
employees_df = spark.read.csv("employees.csv", header=True, inferSchema=True)

#### Task 2: Define a schema for the data

Construct a schema for the input data and then utilize the defined schema to read the CSV file to create a DataFrame named `employees_df`.

In [16]:
# Import the necessary libraries
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

# Create a SparkSession
spark = SparkSession.builder.getOrCreate()

# Define the schema
schema = StructType([
    StructField("Emp_No", IntegerType(), True),
    StructField("Emp_Name", StringType(), True),
    StructField("Salary", IntegerType(), True),
    StructField("Age", IntegerType(), True),
    StructField("Department", StringType(), True)
])

# Create an empty DataFrame with the specified schema
df = spark.createDataFrame([], schema)

# Show the DataFrame schema
df.printSchema()

root
 |-- Emp_No: integer (nullable = true)
 |-- Emp_Name: string (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Department: string (nullable = true)

In [18]:
# Define a Schema for the input data and read the file using the user-defined Schema
employees_df = spark.read.csv("employees.csv", header=True, inferSchema=True)

#### Task 3: Display schema of DataFrame

Display the schema of the `employees_df` DataFrame, showing all columns and their respective data types.

In [19]:
# Display all columns of the DataFrame, along with their respective data types
employees_df.printSchema()

root
 |-- Emp_No: integer (nullable = true)
 |-- Emp_Name: string (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Department: string (nullable = true)

#### Task 4: Create a temporary view

Create a temporary view named `employees` for the `employees_df` DataFrame, enabling Spark SQL queries on the data.

In [20]:
# Create a temporary view named "employees" for the DataFrame
employees_df.createOrReplaceTempView("employees")

#### Task 5: Execute an SQL query

Compose and execute an SQL query to fetch the records from the `employees` view where the age of employees exceeds 30. Then, display the result of the SQL query, showcasing the filtered records.

In [22]:
# SQL query to fetch solely the records from the View where the age exceeds 30
result_Great_30 = spark.sql("SELECT * FROM employees where age > 30")

# show the result
result_Great_30.show()

+------+-----------+------+---+----------+
|Emp_No|   Emp_Name|Salary|Age|Department|
+------+-----------+------+---+----------+
|   199|    Douglas|  2600| 34|     Sales|
|   200|   Jennifer|  4400| 36| Marketing|
|   201|    Michael| 13000| 32|        IT|
|   202|        Pat|  6000| 39|        HR|
|   203|      Susan|  6500| 36| Marketing|
|   205|    Shelley| 12008| 33|   Finance|
|   206|    William|  8300| 37|        IT|
|   100|     Steven| 24000| 39|        IT|
|   102|        Lex| 17000| 37| Marketing|
|   103|  Alexander|  9000| 39| Marketing|
|   104|      Bruce|  6000| 38|        IT|
|   105|      David|  4800| 39|        IT|
|   106|      Valli|  4800| 38|     Sales|
|   107|      Diana|  4200| 35|     Sales|
|   109|     Daniel|  9000| 35|        HR|
|   110|       John|  8200| 31| Marketing|
|   111|     Ismael|  7700| 32|        IT|
|   112|Jose Manuel|  7800| 34|        HR|
|   113|       Luis|  6900| 34|     Sales|
|   116|     Shelli|  2900| 37|   Finance|
+------+-----------+------+---+----------+
only showing top 20 rows

#### Task 6: Calculate Average Salary by Department

Compose an SQL query to retrieve the average salary of employees grouped by department. Display the result.

In [26]:
# Method 1 - from the dataframe
# Calculate the average salary grouped by department
employees_df.groupBy("Department").agg(avg("Salary").alias("average_salary")).show()

+----------+-----------------+
|Department|   average_salary|
+----------+-----------------+
|     Sales|5492.923076923077|
|        HR|           5837.5|
|   Finance|           5730.8|
| Marketing|6633.333333333333|
|        IT|           7400.0|
+----------+-----------------+

In [31]:
# Method 2 - from the view
# SQL query to calculate the average salary of employees grouped by department
avg_salary_by_dept = spark.sql("SELECT Department, AVG(Salary) AS average_salary FROM employees GROUP BY Department")

# show the result
avg_salary_by_dept.show()

+----------+-----------------+
|Department|   average_salary|
+----------+-----------------+
|     Sales|5492.923076923077|
|        HR|           5837.5|
|   Finance|           5730.8|
| Marketing|6633.333333333333|
|        IT|           7400.0|
+----------+-----------------+

#### Task 7: Filter and Display IT Department Employees

Apply a filter on the `employees_df` DataFrame to select records where the department is `'IT'`. Display the filtered DataFrame.

In [32]:
# Apply a filter to select records where the department is 'IT'

filtered_df = employees_df.filter(employees_df["Department"] == "IT")

# Show the filtered DataFrame
filtered_df.show()

+------+--------+------+---+----------+
|Emp_No|Emp_Name|Salary|Age|Department|
+------+--------+------+---+----------+
|   198|  Donald|  2600| 29|        IT|
|   201| Michael| 13000| 32|        IT|
|   206| William|  8300| 37|        IT|
|   100|  Steven| 24000| 39|        IT|
|   104|   Bruce|  6000| 38|        IT|
|   105|   David|  4800| 39|        IT|
|   111|  Ismael|  7700| 32|        IT|
|   129|   Laura|  3300| 38|        IT|
|   132|      TJ|  2100| 34|        IT|
|   136|   Hazel|  2200| 29|        IT|
+------+--------+------+---+----------+

#### Task 8: Add 10% Bonus to Salaries

Perform a transformation to add a new column named "SalaryAfterBonus" to the DataFrame. Calculate the new salary by adding a 10% bonus to each employee's salary.

In [39]:
from pyspark.sql.functions import col

# Add a new column "SalaryAfterBonus" with 10% bonus added to the original salary
employees_df.withColumn("SalaryAfterBonus", (col("Salary") *(10/100)) + col("Salary")).show(10)

+------+--------+------+---+----------+----------------+
|Emp_No|Emp_Name|Salary|Age|Department|SalaryAfterBonus|
+------+--------+------+---+----------+----------------+
|   198|  Donald|  2600| 29|        IT|          2860.0|
|   199| Douglas|  2600| 34|     Sales|          2860.0|
|   200|Jennifer|  4400| 36| Marketing|          4840.0|
|   201| Michael| 13000| 32|        IT|         14300.0|
|   202|     Pat|  6000| 39|        HR|          6600.0|
|   203|   Susan|  6500| 36| Marketing|          7150.0|
|   204| Hermann| 10000| 29|   Finance|         11000.0|
|   205| Shelley| 12008| 33|   Finance|         13208.8|
|   206| William|  8300| 37|        IT|          9130.0|
|   100|  Steven| 24000| 39|        IT|         26400.0|
+------+--------+------+---+----------+----------------+
only showing top 10 rows

#### Task 9: Find Maximum Salary by Age

Group the data by age and calculate the maximum salary for each age group. Display the result.

In [41]:
from pyspark.sql.functions import max

# Group data by age and calculate the maximum salary for each age group
spark.sql("SELECT age, MAX(salary) AS max_salary \
           FROM employees \
           GROUP BY age   \
           order by max_salary desc") \
           .show()

[Stage 43:================================================>    (182 + 12) / 200]

+---+----------+
|age|max_salary|
+---+----------+
| 39|     24000|
| 27|     17000|
| 37|     17000|
| 32|     13000|
| 33|     12008|
| 28|     12008|
| 29|     10000|
| 35|      9000|
| 31|      8200|
| 30|      8000|
| 36|      7900|
| 34|      7800|
| 38|      6000|
| 26|      3600|
+---+----------+

#### Task 10: Self-Join on Employee Data

Join the "employees_df" DataFrame with itself based on the "Emp_No" column. Display the result.

In [44]:
# Join the DataFrame with itself based on the "Emp_No" column
spark.sql("SELECT *    \
           FROM employees e1  \
           Inner JOIN employees e2 ON e1.Emp_No = e2.Emp_No").show()

+------+---------+------+---+----------+------+---------+------+---+----------+
|Emp_No| Emp_Name|Salary|Age|Department|Emp_No| Emp_Name|Salary|Age|Department|
+------+---------+------+---+----------+------+---------+------+---+----------+
|   198|   Donald|  2600| 29|        IT|   198|   Donald|  2600| 29|        IT|
|   199|  Douglas|  2600| 34|     Sales|   199|  Douglas|  2600| 34|     Sales|
|   200| Jennifer|  4400| 36| Marketing|   200| Jennifer|  4400| 36| Marketing|
|   201|  Michael| 13000| 32|        IT|   201|  Michael| 13000| 32|        IT|
|   202|      Pat|  6000| 39|        HR|   202|      Pat|  6000| 39|        HR|
|   203|    Susan|  6500| 36| Marketing|   203|    Susan|  6500| 36| Marketing|
|   204|  Hermann| 10000| 29|   Finance|   204|  Hermann| 10000| 29|   Finance|
|   205|  Shelley| 12008| 33|   Finance|   205|  Shelley| 12008| 33|   Finance|
|   206|  William|  8300| 37|        IT|   206|  William|  8300| 37|        IT|
|   100|   Steven| 24000| 39|        IT|   100|   Steven| 24000| 39|        IT|
|   101|    Neena| 17000| 27|     Sales|   101|    Neena| 17000| 27|     Sales|
|   102|      Lex| 17000| 37| Marketing|   102|      Lex| 17000| 37| Marketing|
|   103|Alexander|  9000| 39| Marketing|   103|Alexander|  9000| 39| Marketing|
|   104|    Bruce|  6000| 38|        IT|   104|    Bruce|  6000| 38|        IT|
|   105|    David|  4800| 39|        IT|   105|    David|  4800| 39|        IT|
|   106|    Valli|  4800| 38|     Sales|   106|    Valli|  4800| 38|     Sales|
|   107|    Diana|  4200| 35|     Sales|   107|    Diana|  4200| 35|     Sales|
|   108|    Nancy| 12008| 28|     Sales|   108|    Nancy| 12008| 28|     Sales|
|   109|   Daniel|  9000| 35|        HR|   109|   Daniel|  9000| 35|        HR|
|   110|     John|  8200| 31| Marketing|   110|     John|  8200| 31| Marketing|
+------+---------+------+---+----------+------+---------+------+---+----------+
only showing top 20 rows

#### Task 11: Calculate Average Employee Age

Calculate the average age of employees using the built-in aggregation function. Display the result.

In [48]:
# Calculate the average age of employees
from pyspark.sql.functions import avg 

employees_df.agg({'age': 'avg'}).show()

+--------+
|avg(age)|
+--------+
|   33.56|
+--------+

In [46]:
# Method 2
spark.sql("SELECT AVG(age) AS average_age \
               FROM employees").show()

+-----------+
|average_age|
+-----------+
|      33.56|
+-----------+

#### Task 12: Calculate Total Salary by Department

Calculate the total salary for each department using the built-in aggregation function. Display the result.

In [54]:
# Calculate the total salary for each department. Hint - User GroupBy and Aggregate functions
from pyspark.sql.functions import sum 

# method 1
spark.sql("SELECT Department, SUM(salary) AS total_salary \
            FROM employees   \
            GROUP BY Department \
            order by total_salary desc") \
            .show()

[Stage 87:====================================>                (138 + 12) / 200]

+----------+------------+
|Department|total_salary|
+----------+------------+
|        IT|       74000|
|     Sales|       71408|
| Marketing|       59700|
|   Finance|       57308|
|        HR|       46700|
+----------+------------+

In [56]:
# method 2
employees_df.groupBy("Department").agg(sum("salary")).show()

+----------+-----------+
|Department|sum(salary)|
+----------+-----------+
|     Sales|      71408|
|        HR|      46700|
|   Finance|      57308|
| Marketing|      59700|
|        IT|      74000|
+----------+-----------+

#### Task 13: Sort Data by Age and Salary

Apply a transformation to sort the DataFrame by age in ascending order and then by salary in descending order. Display the sorted DataFrame.

In [58]:
# Sort the DataFrame by age in ascending order and then by salary in descending order
employees_df.sort("age", "salary", ascending=[True, False]).show()

+------+---------+------+---+----------+
|Emp_No| Emp_Name|Salary|Age|Department|
+------+---------+------+---+----------+
|   137|   Renske|  3600| 26| Marketing|
|   101|    Neena| 17000| 27|     Sales|
|   114|      Den| 11000| 27|   Finance|
|   108|    Nancy| 12008| 28|     Sales|
|   130|    Mozhe|  2800| 28| Marketing|
|   126|    Irene|  2700| 28|        HR|
|   204|  Hermann| 10000| 29|   Finance|
|   115|Alexander|  3100| 29|   Finance|
|   134|  Michael|  2900| 29|     Sales|
|   198|   Donald|  2600| 29|        IT|
|   140|   Joshua|  2500| 29|   Finance|
|   136|    Hazel|  2200| 29|        IT|
|   120|  Matthew|  8000| 30|        HR|
|   110|     John|  8200| 31| Marketing|
|   127|    James|  2400| 31|        HR|
|   201|  Michael| 13000| 32|        IT|
|   111|   Ismael|  7700| 32|        IT|
|   119|    Karen|  2500| 32|   Finance|
|   205|  Shelley| 12008| 33|   Finance|
|   124|    Kevin|  5800| 33| Marketing|
+------+---------+------+---+----------+
only showing top 20 rows

#### Task 14: Count Employees in Each Department

Calculate the number of employees in each department. Display the result.

In [61]:
from pyspark.sql.functions import count

# Calculate the number of employees in each department
employees_df.groupBy("Department").count().sort("count",  ascending=[False]).show()

[Stage 120:========================================>           (155 + 11) / 200]

+----------+-----+
|Department|count|
+----------+-----+
|     Sales|   13|
|   Finance|   10|
|        IT|   10|
| Marketing|    9|
|        HR|    8|
+----------+-----+

#### Task 15: Filter Employees with the letter o in the Name

Apply a filter to select records where the employee's name contains the letter `'o'`. Display the filtered DataFrame.

In [69]:
# Apply a filter to select records where the employee's name contains the letter 'o'

# Method 1
spark.sql("SELECT * FROM employees where Emp_Name like '%o%'").show()

+------+-----------+------+---+----------+
|Emp_No|   Emp_Name|Salary|Age|Department|
+------+-----------+------+---+----------+
|   198|     Donald|  2600| 29|        IT|
|   199|    Douglas|  2600| 34|     Sales|
|   110|       John|  8200| 31| Marketing|
|   112|Jose Manuel|  7800| 34|        HR|
|   130|      Mozhe|  2800| 28| Marketing|
|   133|      Jason|  3300| 38|     Sales|
|   139|       John|  2700| 36|     Sales|
|   140|     Joshua|  2500| 29|   Finance|
+------+-----------+------+---+----------+

In [70]:
# Method 2
employees_df. \
    filter("Emp_Name like '%o%'"). \
    show()

+------+-----------+------+---+----------+
|Emp_No|   Emp_Name|Salary|Age|Department|
+------+-----------+------+---+----------+
|   198|     Donald|  2600| 29|        IT|
|   199|    Douglas|  2600| 34|     Sales|
|   110|       John|  8200| 31| Marketing|
|   112|Jose Manuel|  7800| 34|        HR|
|   130|      Mozhe|  2800| 28| Marketing|
|   133|      Jason|  3300| 38|     Sales|
|   139|       John|  2700| 36|     Sales|
|   140|     Joshua|  2500| 29|   Finance|
+------+-----------+------+---+----------+

# Congratulations! You have completed the project.

Now you know how to create a DataFrame from a CSV data file and perform a variety of DataFrame transformations and actions using Spark SQL.

## Authors

Raghul Ramesh

Lavanya T S

<!--## Change Log -->

<!--|Date (YYYY-MM-DD)|Version|Changed By|Change Description|
|-|-|-|-|
|2023-09-01|0.1|Lavanya T S|Initial version|
|2023-09-11|0.2|Pornima More|QA pass with edits|-->

<h3 align="center"> &#169; IBM Corporation. All rights reserved. <h3/>